body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55)
    ),
    url(/img/desktop1-1600.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*font-family: "Lobster", cursive;*/
  /*font-family: 'Cookie', cursive;*/
  font-family: 'Istok Web', sans-serif;
  font-size: 1.6em;
  /*font-weight: bold;*/
  color: RGBA(99, 93, 97, 1);
}

header {
  margin-bottom: 65px;
}

/******* modifying bootstrap **********/
.navbar {
  border-radius: 0;
  border-bottom: 1px solid RGBA(99, 93, 97, 1);
;
/*  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;*/
  /*border-bottom: 1px solid RGBA(221, 221, 221, 1);*/
    /*background: rgba(255, 255, 255, 0.90);*/

  /*background-color: RGBA(119, 190, 142, 1);*/
}

.btn {
  font-size: 1em;
}

.btn-primary {
  background-color: RGBA(0, 191, 192, 1);
  border: RGBA(0, 191, 192, 1);
  /* pretty red-orange color */
/*  background-color: RGBA(246, 72, 79, 1);
  border: RGBA(246, 72, 79, 1);*/
}

.btn-primary:hover {
  background-color: RGBA(116, 218, 223, 1);
}

.list-group-item:first-of-type, .list-group-item, .list-group-item:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*a:hover, a:link, a:visited {
  text-decoration: none;
}*/

.text-primary {
  /*color: RGBA(255, 101, 89, 1);*/
  /*color: RGBA(116, 71, 84, 1);*/
  color: RGBA(99, 93, 97, 1);
  /*font-family: 'Shadows Into Light Two', cursive;*/
  /*font-family: "Courgette", cursive;*/
  font-size: .9em;
}

legend {
  color: RGBA(99, 93, 97, 1);
}

/*label {
  color: RGBA(99, 93, 97, 1);
}*/

input {
  color: RGBA(99, 93, 97, 1);
  /*font-family: 'Shadows Into Light Two', cursive;*/
  /*font-family: "Courgette", cursive;*/
}

.clock {
  margin-bottom: 5px;
  margin-top: 5px;
}

.horizontal-list li {
  list-style-type: none;
  display: inline;
  padding: 5px;
  margin-right: 5px;
  margin-left: -5px;
}

.panel {
  background: RGBA(255, 255, 255, 0.65);
  border: 1px solid RGBA(99, 93, 97, 1);
  border-radius: 15px;
}

/* for forms, currently unused */
.underline {
  display: block;
  width: 100%;
  background-color: RGBA(0, 0, 0, 0);
  border: 0;
  border-bottom: 2px solid RGBA(54, 134, 175, 1);
  outline:none; /* prevents textbox highlight in chrome */
}

.new-food {
  height: 1050px;
}

.meal-form-container {
  height: 959px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#food-search-form {
  margin-bottom: 45px;
}

#search-results {
  height: 840px;
  overflow: scroll;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: RGBA(153, 153, 153, 1);
}

.divider-light {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: RGBA(204, 204, 204, 1);
}

.pointer-cursor {
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}

.btn-link, .btn-link:hover, .btn-link:link, .btn-link:visited {
  color: RGBA(193, 153, 77, 1);
}

.inline {
  display: inline-block;
}

/*.daily-meals-scroll {
  overflow-x: scroll;
}*/

.meal-title {
  /*margin-top: 0;*/
}

/*#insp-container {
  width: 100%;


}*/

.insp-menu-row {
  /*margin-bottom: 30px;*/
}

#insp-all {
  height: 900px;
  overflow-x: hidden;
  overflow-y: scroll;
}


.insp-mdiv {
  margin-left: 10px;
  margin-right: 10px;
  /*margin-bottom: 20px;*/
  text-align: center;
  width: 250px;
}

.center-div {
  /*width: ;*/
}

.insp-mele-quote {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  margin-bottom: 20px;
}

.insp-mele-tip {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.insp-img-m {
  width: 250px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.insp-links, .insp-links:hover, .insp-links:visited, .insp-links:link {
  color: black;
}

.insp-form {
  height: 500px;
}

.insp-preview {
  height: 500px;
}