body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55)
    ),
    url(/img/desktop1-1600.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  margin-bottom: 65px;
}

.navbar {
  border-radius: 0;
  border-bottom: 1px solid RGBA(221, 221, 221, 1);
    /*background: rgba(255, 255, 255, 0.90);*/

  /*background-color: RGBA(119, 190, 142, 1);*/
}

.list-group-item:first-of-type, .list-group-item, .list-group-item:last-of-type {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

a:hover, a:link, a:visited {
  text-decoration: none;
}

.panel {
  background: rgba(255, 255, 255, 0.65);
}

.new-food {
  height: 500px;
}

#food-search-form {
  margin-bottom: 45px;
}

.horizontal-list li {
  list-style-type: none;
  display: inline;
  margin-right: 5px;
  margin-left: -5px;
}