<!-- top div -->
<div class="row home-div" id="top">
  <div class="row text-center">
    <p class="top-text">Welcome to your</p>
    <h1 class="lobster" id="title">Dear Food Journal</h1>
    <div class="row home-btns" ng-if="!vm.user">
      <button type="button" class="btn-home lobster" ng-click="vm.directToSignup()">Sign up</button> <button type="button" class="btn-home lobster"ng-click="nv.showLoginModal()">Log In</button>
    </div>
    <p class="top-text">This is more than just your diet journal!</p>
  </div>
</div>

<!-- easy of use div -->
<div class="row">
  <div class="col-md-6 pic-div" id="easy-div-pic">
  </div>
  <div class="col-md-6 info-div text-center">
    <br />
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="info-text">Easily add your daily meals with our simple form!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="info-text">Meal and daily nutrition is automatically calculated for you!</p>
      </div>
    </div>
  </div>
</div>

<!-- nutritionix api info div -->
<div class="row">
  <div class="col-md-6 info-div text-center">
    <br />
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h5 class="text-center">Powered By:</h5>
        <a href="http://www.nutritionix.com/api"><img src="/img/nix_api_logo.png" /></a>
        <br />
        <ul class="no-bullet">
          <li>100K+ Menu Items</li>
          <li>400K+ Grocery Products</li>
          <li>Entire USDA Common Foods</li>
        </ul>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="">A rich resource to find nutrition info to automatically add to your meals!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 pic-div" id="nix-div-pic">
  </div>
</div>