<div class="row home-div" id="top">
  <div class="row text-center">
    <p class="top-text">Welcome to your</p>
    <h1 class="lobster" id="title">Dear Food Journal</h1>
    <div class="row home-btns">
      <button type="button" class="btn-home lobster" ng-click="vm.directToSignup()">Sign up</button> <button type="button" class="btn-home lobster"ng-click="nv.showLoginModal()">Log In</button>
    </div>
    <p class="top-text">This is more than just your diet journal!</p>
  </div>

</div>


<!-- ng-if="!vm.user" -->