
<div class="col-md-10">
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="form-group">
        <label for="sort-category" class="col-md-3 control-label">Sort By:</label>
        <select id="sort-category" class="form-control" ng-model="vm.sort">
          <option value="+meal.time">Time</option>
          <option value="-meal.date">Day</option>
          <option value="+meal.date">Month</option>
          <option value="-meal.date">Year</option>
          <option value="+meal.name">Meal Name</option>
<!--           <option value="Beverage snack">Beverage as snack</option>
          <option value="Dessert">Dessert</option> -->
        </select>
      </div>
    </div>

  // pagination?
// get all meals
// sort
edit/delete (also put this on edit page or just put it here? --- option to delete)
</div>
  <div class="panel-body">
    <ul class="" ng-repeat="meal in vm.meals | orderBy: +meal.time | orderBy: vm.sort">
      <li><a ng-href="/journals/{{ meal.journal[0] }}/meals/{{ meal._id }}">{{ meal.name }}</a></li>
      <li><p>{{ meal.date | date: 'MMM M, yyyy' }} at {{ meal.time | date: 'h:mm a' }}</p></li>
    </div>
  </div>
</div>
</div>

<!-- // show daily totals for nutrition

{"_id":"56710dc7427f31fe2a2960fd","date":"2015-12-16T07:05:07.494Z","time":"1970-01-02T06:15:00.000Z","name":"Dinner","emotions":"","notes":"","totalNutrition":"{\"calories\":861,\"carbs\":157.1,\"fat\":23.9,\"fiber\":3,\"protein\":28.8,\"sugars\":135.3}","__v":0,"foodEntries":[],"journal":["567109f0508fddb92a75d21d"]} -->