<div class="row">
  <div id="new-food">
  <div class="container-fluid">
    <div class="col-md-5 panel panel-default new-food">
      <div class="panel-body">
        Add a new entry:
        <form novalidate>
          <label for="meal-time">Date and Time:</label>
          <input type="datetime" id="meal-date" placeholder="choose a time and date" ng-model="vm.meal.date"/>
        </form>
      </div>
    </div>
    <div class="col-md-5 panel panel-default new-food">
      <div class="panel-body">
        <form ng-submit="vm.foodSearch()" novalidate>
          <label for="food-search" class="control-label">Search for your foods here:</label>
          <div class="input-group">
            <input type="text" id="food-search" class="form-control" placeholder="What did you have?" ng-model="vm.apiSearch" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
          </div>
        </form>
        <div ng-if="vm.searchResults" id="search-results">
          <p ng-repeat="food in vm.searchResults">
          {{food.fields.brand_name}} {{food.fields.item_name}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div></div>
<!-- fields.
brand_name
item_name -->
