<li ng-if="totalNutrition.calories">Calories: <strong>{{ totalNutrition.calories | number: 0 }}g</strong></li>
<li ng-if="totalNutrition.fat">Fat: <strong>{{ totalNutrition.fat | number: 0 }}g</strong></li>
<li ng-if="totalNutrition.carbs">Carbs: <strong>{{ totalNutrition.carbs | number: 0 }}g</strong></li>
<li ng-if="totalNutrition.fiber">Fiber: <strong>{{ totalNutrition.fiber | number: 0 }}g</strong></li>
<br />
<li ng-if="totalNutrition.protein">Protein: <strong>{{ totalNutrition.protein | number: 0 }}g</strong></li>
<li ng-if="totalNutrition.sugars">Sugars: <strong>{{ totalNutrition.sugars | number: 0 }}g</strong></li>