<li ng-if="totalNutrition.calories">Calories: {{ totalNutrition.calories | number: 0 }}g</li>
<li ng-if="totalNutrition.fat">Fat: {{ totalNutrition.fat | number: 0 }}g</li>
<li ng-if="totalNutrition.carbs">Carbs: {{ totalNutrition.carbs | number: 0 }}g</li>
<li ng-if="totalNutrition.fiber">Fiber: {{ totalNutrition.fiber | number: 0 }}g</li>
<li ng-if="totalNutrition.protein">Protein: {{ totalNutrition.protein | number: 0 }}g</li>
<li ng-if="totalNutrition.sugars">Sugars: {{ totalNutrition.sugars | number: 0 }}g</li>