
<!-- <div class="panel panel-default">
  <div class="panel-body time-panel">
    <h3>{{ vm.date | date: 'EEEE' }}</h3>
    <h3>{{ vm.date | date: 'MMM d, yyyy' }}</h3>
  </div>
</div> -->
<!--
  <h4 ng-if="vm.currentUser.firstName" class="text-center">Welcome {{vm.currentUser.firstName}}</span>!</h4> -->

<!-- <div class="row"> -->
<!--   <h4>Today is</h4> -->

<!--   <h4>{{ vm.date | date: 'h:mm a' }}</h4> -->
<!-- </div> -->
<ul ng-if="vm.currentUser" class="list-group">
  <li class="list-group-item">
    <h4 class="text-info">{{ vm.clock | date: 'EEEE' }}</h4>
    <h4 class="">{{ vm.clock | date: 'mediumDate' }}</h4>
    <h4 class="text-info">{{ vm.clock | date: 'shortTime' }}</h4>
  </li>
  <li class="list-group-item">
  <!-- // need to have this update immediately for date now? (in case user sits at this page for a bunch of itme) -->
    <a ng-href="/journals/{{ vm.currentUser.journal }}/days/{{ vm.clock | date: 'MM-dd-yyyy' }}">today <span class="glyphicon glyphicon-star" aria-hidden="true"></span></a>
  </li>
  <li class="list-group-item">
    <a ng-href="/journals/{{vm.currentUser.journal}}/meals/new">add meal <span class="glyphicon glyphicon-apple" aria-hidden="true"></span></a>
  </li>
  <li class="list-group-item">
    <a ng-href="/journals/{{ vm.currentUser.journal }}">journal <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></a>
  </li>
  <li class="list-group-item">
    <a ng-href="/journals/{{ vm.currentUser.journal }}/inspirations">inspirations <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a>
  </li>
<!--   <li class="list-group-item">
 "main text quote"
  </li> -->
<!--   <li class="list-group-item">
    <a ng-href="">my weight <span class="glyphicon glyphicon-object-align-vertical" aria-hidden="true"></span></a>
  </li> -->
</ul>

<!--
<nav ng-if="vm.currentUser">
  <ul>
    <li><a ng-href="/{{vm.currentUser.id}}/{{ vm.currentUser.journal }}">journal</a></li>
    <li>add meal</li>
  </ul>
</nav>