<!--
<div class="panel panel-default">
  <div class="panel-body">
    Basic panel
  </div>
</div> -->
<ul ng-if="vm.currentUser" class="list-group">
  <li class="list-group-item">
    <a ng-href="/{{vm.currentUser.id}}/{{vm.currentUser.journal}}">journal</a>
  </li>
  <li class="list-group-item">
    add meal
  </li>
<!--   <li class="list-group-item">
    <span class="badge">1</span>
    Morbi leo risus
  </li> -->
</ul>

<!--
<nav ng-if="vm.currentUser">
  <ul>
    <li><a ng-href="/{{vm.currentUser.id}}/{{vm.currentUser.journal}}">journal</a></li>
    <li>add meal</li>
  </ul>
</nav> -->