<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand lobster" href="/">Dear Food Journal</a>
    </div>
    <ul ng-if="!nv.currentUser" class="nav navbar-nav navbar-right">
      <li><a href="/signup">Sign up</a></li>
      <li><a href="" ng-click="nv.showLoginModal()">Login</a></li>
    </ul>
    <ul ng-if="nv.currentUser" class="nav navbar-nav navbar-right">
      <li><a ng-href="/journals/{{nv.currentUser.journal}}">My Journal</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  </div>
</nav>