<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" ng-submit="vm.signup()" novalidate>
        <legend class="text-center">Welcome new user!</legend>
        <div class="col-md-10 col-md-offset-1">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center text-primary">We sincerely hope this website is a wonderful resource for you<br />
          to help and encourage you along your life changing journey!</p>
          <p class="text-center text-primary">All the best with achieving your goals!</p>
        </div>

        <!-- <div class="divider-light"></div> -->

        <div class="form-group">
          <label for="first-name" class="col-md-4 control-label">first name:</label>
          <div class="col-md-8">
            <input type="text" id="first-name" class="form-control" placeholder="your first name" ng-model="vm.user.firstName" />
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-md-4 control-label"><df-required-asterisk></df-required-asterisk>email:</label>
          <div class="col-md-8">
            <input type="text" id="email" class="form-control" placeholder="enter your email" ng-model="vm.user.email" />
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-md-4 control-label"><df-required-asterisk></df-required-asterisk>password:</label>
          <div class="col-md-8">
            <input type="password" class="form-control" placeholder="enter a password" ng-model="vm.user.password" />
          </div>
        </div>
        <div class="form-group">
          <label for="verifypw" class="col-md-4 control-label"><df-required-asterisk></df-required-asterisk>password again:</label>
          <div class="col-md-8">
            <input type="password" class="form-control" placeholder="enter your password again" ng-model="vm.verifypw" />
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
        <!-- <div class="col-md-4 col-md-offset-8"> -->
          <button type="submit" class="btn btn-primary text-center btn-block">Sign up!</button>
        </div>
        </div></div>
      </form>
    </div>
  </div>
</div>


  <!-- email: {
    type: String,
    required: true,
    unique: true
  },
  password: {
    type: String,
    minlength: 6,
    required: true
  },
  firstName: {
    type: String
  } -->