<div class="col-md-6 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-md-10 col-md-offset-1">
        <form class="form-horizontal" ng-submit="vm.signup()" novalidate>
          <legend class="text-center">Get your Journal</legend>
          <div class="form-group">
            <label for="first-name" class="col-md-5 control-label">first name:</label>
            <div class="col-md-7">
              <input type="text" id="first-name" class="form-control" placeholder="your first name" ng-model="vm.user.firstName" />
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-5 control-label"><df-required-asterisk></df-required-asterisk>email:</label>
            <div class="col-md-7">
              <input type="text" id="email" class="form-control" placeholder="enter your email" ng-model="vm.user.email" />
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-md-5 control-label"><df-required-asterisk></df-required-asterisk>password:</label>
            <div class="col-md-7">
              <input type="password" class="form-control" placeholder="enter a password" ng-model="vm.user.password" />
            </div>
          </div>
          <div class="form-group">
            <label for="verifypw" class="col-md-5 control-label"><df-required-asterisk></df-required-asterisk>re-enter password:</label>
            <div class="col-md-7">
              <input type="password" class="form-control" placeholder="enter your password again" ng-model="vm.verifypw" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <button type="submit" class="btn btn-primary text-center btn-block">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--       <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p class="text-center text-message">We sincerely hope this website is a wonderful resource for you<br />
          to help and encourage you along your life changing journey!</p>
          <p class="text-center text-message">All the best with achieving your goals!</p>
        </div></div>
        </div>
 -->
  <!-- email: {
    type: String,
    required: true,
    unique: true
  },
  password: {
    type: String,
    minlength: 6,
    required: true
  },
  firstName: {
    type: String
  } -->