<div class="row">
  <div class="col-md-2 text-center">
    <df-menu-left></df-menu-left>
  </div><!-- new insp form -->
<div class="col-md-6 panel panel-default">
  <div class="panel-body insp-form">
    <form class="form-horizontal" ng-submit="vm.addInspiration()">
      <fieldset>
        <legend>Something new to inspire me!</legend>
    <!-- select type of inspiration -->
        <div class="form-group">
          <label for="inspiration-type" class="control-label"></label>
          <div class="col-md-6 col-md-offset-3">
            <!-- <div class="col-md-6"> -->
            <select id="inspiration-type" class="form-control" ng-model="vm.inspiration.type" ng-change="vm.clearFields()">
              <option value="" disabled selected>What kind of inspiration to add?</option>
              <option value="quote">Quote</option>
              <option value="image">Image</option>
              <option value="tip">Tip</option>
            </select>
          </div>
        </div>

        <!-- show quote input -->
        <section ng-if="vm.inspiration.type ==='quote'">
          <div class="form-group">
            <label for="insp-quote" class="">Quote:</label>
            <textarea id="insp-quote" class="form-control" placeholder="What lovely quote do you have to add?" ng-model="vm.inspiration.quote"></textarea>
          </div>
          <div class="form-group">
            <label for="insp-author" class="">Author:</label>
            <input type="text" id="insp-author" class="form-control" placeholder="Does the quote have an author?" ng-model="vm.inspiration.author" />
          </div>
        </section>

        <!-- show image input -->
        <section ng-if="vm.inspiration.type === 'image'">
          <div class="form-group">
            <label for="insp-img-title">Title:</label>
            <input type="text" id="insp-img-title" class="form-control" placeholder="Title for this image inspiration?" ng-model="vm.inspiration.title" />
          </div>
          <div class="form-group">
            <label for="insp-img" class="">Image Link:</label>
            <input type="text" id="insp-img" class="form-control" placeholder="Please enter a valid url." ng-model="vm.inspiration.imageLink" />
          </div>
          <div class="form-group">
            <label for="insp-img-comments">Comments:</label>
            <textarea id="insp-img-comments" class="form-control" rows="4" placeholder="Anything to say about this image?" ng-model="vm.inspiration.quote"></textarea>
          </div>
        </section>

        <!-- show tip input -->
        <section ng-if="vm.inspiration.type === 'tip'">
          <div class="form-group">
            <label for="insp-tip" class="">Tip:</label>
            <textarea id="insp-tip" class="form-control" placeholder="Want to jot down a tip for yourself?" ng-model="vm.inspiration.tip"></textarea>
          </div>
        </section>

        <button type="submit" class="btn btn-primary" ng-if="vm.inspiration.type">Add My Inspiration</button>
      </fieldset>
    </form>
  </div>
</div>
<!-- </div> -->

<!-- new insp preview -->
<div class="col-md-4 panel panel-default">
    <!-- <div class="panel-heading"> -->
    <!-- </div> -->

  <div class="panel-body insp-form">
  <h3>Preview</h3>
  </div>
</div>
</div>